"*":
  "atom-beautify":
    general:
      _analyticsUserId: "8c747ad2-6c1c-4c64-95d2-56896bb099cb"
  "atom-color-highlight": {}
  "atom-material-ui":
    colors:
      abaseColor:
        red: 236
        green: 64
        blue: 122
        alpha: 1
      accentColor:
        red: 70
        green: 255
        blue: 193
        alpha: 1
      predefinedColor: "Pink"
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      animations: false
  autosave:
    enabled: true
  core:
    audioBeep: false
    disabledPackages: [
      "atom-color-highlight"
      "linter-scss-lint"
      "linter-coffeelint"
      "linter-rubocop"
    ]
    themes: [
      "atom-material-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
  emmet: {}
  "exception-reporting":
    userId: "7f3c4b93-ce2b-6d44-c3f0-ef2fd619168b"
  linter: {}
  "linter-rubocop": {}
  "one-dark-ui": {}
  pigments:
    ignoredScopes: [
      "\\.comment"
    ]
  "tree-view": {}
  welcome:
    showOnStartup: false
