# Aaron's Snippets!

# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'.source.js':
  'mocha/describe':
    'prefix': 'desc'
    'body': """
      describe('',() => {});
    """
  'mocha/it':
    'prefix': 'it'
    'body': """
      it('',() => {});
    """
  'Webpack config':
    'prefix': 'wpc'
    'body': """
      module.exports = {
        entry: '',
        output: {
          path: '',
          filename: ''
        },
        devServer: {
          inline: true,
          contentBase: '',
          port: 3333
        },
        module: {
          loaders: []
        }
      }
    """
